* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fbfac4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #943cff;
  width: 90%;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #001e4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover:not(:disabled) {
  background-color: #003580;
}

.correct {
  background-color: #4CAF50 !important;
}

.incorrect {
  background-color: #E53935 !important;
}

#next-btn, #restart-btn {
  margin-top: 20px;
  background-color: #003580;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

#next-btn:hover, #restart-btn:hover {
  background-color: #3de1de;
}

.user-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button2 {
  position: fixed; 
  top: 20px;       
  left: 20px;      
}

.button2 a {
  display: inline-block;
  background-color: #e60000; 
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  transition: background 0.3s;
}

.button2 a:hover {
  background-color: #b80000; 
}